h1, h3
{
  text-align:center;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bloc-page{
  width: 90%;
  margin: auto;
}

.panel-primary{
  border: black solid;
  padding: 2%;
}

.my-header {
  display: flex;
  justify-content: space-between;
}

.input-group{
  padding: 2%;
}

.content-area
{
  background-color:#CCCCCC;
  margin-top:0px;
  padding: 2%;
}

.news
{
  width:90%;
  margin:auto;
}

a
{
  text-decoration: none;
  color: blue;
}

.form-bloc, .flex-space {
  display: flex;
  justify-content: space-between;
}

/* Style all input fields */
input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  position: relative;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\002714";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -10px;
  content: "\2716";
}

.admin-block {
  display: flex;
}

.admin-navbar {
  display: flex;
  width: 20%;
  flex-direction: column;
}

.admin-main-part {
  width: 80%;
}